<app-sidebar></app-sidebar>
<div class="w-full mt-12 ml-64 p-4 flex justify-start">
  <div class="w-full flex justify-between">
    <div class="flex gap-5">
      <button
        class="py-2 px-6 bg-[#1f2937] font-semibold text-white rounded-md"
      >
        Manual Input
      </button>
      <button
        class="py-2 px-6 bg-[#1f2937] font-semibold text-white rounded-md"
      >
        File Upload
      </button>
    </div>
    <button
      class="mr-64 py-2 px-6 bg-[#1f2937] font-semibold text-white rounded-md"
    >
      Draft
    </button>
  </div>
</div>
