<app-sidebar></app-sidebar>
<div class="pl-64">
  <!-- Header tombol -->
  <div class="w-full mt-12 p-4 flex justify-between">
    <div class="flex gap-5">
      <button
        class="py-2 px-6 bg-[#1f2937] font-semibold text-white rounded-md"
      >
        Manual Input
      </button>
      <button
        class="py-2 px-6 bg-[#1f2937] font-semibold text-white rounded-md"
      >
        File Upload
      </button>
    </div>
    <button class="py-2 px-6 bg-[#090a0a] font-semibold text-white rounded-md">
      Draft
    </button>
  </div>
  <ng-container *ngIf="invoices$ | async as invoices">
    <app-share-table [invoices]="invoices" />
  </ng-container>
</div>
