<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div *ngIf="successMessage !== ''; else beforeSubmit">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm text-center">
      <img
        class="mx-auto h-48 w-auto"
        src="assets/success_image.png"
        alt="payflow-logo"
      />
      <p class="mt-6 to-gray-700 text-base">
        Your account has been successfully created. You can now log in and start
        using Payflow to manage your transactions effortlessly. Stay secure and
        enjoy a seamless payment experience! 🚀
      </p>
      <button
        (click)="onNavigateToLogin()"
        class="mt-10 text-sm/6 font-semibold text-indigo-600 hover:text-indigo-500"
      >
        Sign in here
      </button>
    </div>
  </div>
  <ng-template #beforeSubmit>
    <h2
      class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900"
    >
      Input Activation Code
    </h2>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form
        [formGroup]="form"
        (ngSubmit)="onActivate()"
        class="mt-6 flex flex-col items-center"
      >
        <div formArrayName="code" class="flex space-x-2">
          <input
            *ngFor="let control of codeArray.controls; let i = index"
            #otpInput
            [formControlName]="i"
            maxlength="1"
            type="text"
            inputmode="numeric"
            class="w-10 h-12 text-center border border-gray-300 rounded"
            (input)="onInput($event, i)"
            (paste)="onPaste($event)"
          />
        </div>

        <button
          type="submit"
          class="mt-6 bg-indigo-600 text-white px-6 py-2 rounded hover:bg-indigo-500 transition"
          [ngClass]="{
            'bg-indigo-600 hover:bg-indigo-500 cursor-pointer': form.valid,
            'bg-gray-400 cursor-not-allowed': !form.valid
          }"
          [disabled]="!form.valid"
        >
          Activate
        </button>
      </form>
    </div>
  </ng-template>
</div>

<!-- Error Modal -->
<app-share-error-modal
  [showModal]="showErrorModal"
  [message]="errorMessage"
  (closeModalEmitter)="showErrorModal = false"
></app-share-error-modal>
