<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-48 w-auto" src="assets/logo.png" alt="payflow-logo" />
    <h2
      class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900"
    >
      Create your account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form
      [formGroup]="registerForm"
      class="space-y-6"
      action="#"
      method="POST"
      (ngSubmit)="onRegister()"
    >
      <div>
        <label
          for="companyId"
          class="block text-sm/6 font-medium text-gray-900"
        >
          Company ID
          <span class="text-blue-500 font-bold">*</span>
        </label>
        <div class="mt-2">
          <input
            type="text"
            formControlName="companyId"
            name="companyId"
            id="companyId"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600 sm:text-sm"
          />
          <div
            *ngIf="companyId?.touched && companyId?.invalid"
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="companyId?.errors?.['required']">
              Company ID is required.
            </div>
          </div>
        </div>
      </div>

      <div>
        <label for="username" class="block text-sm/6 font-medium text-gray-900">
          Username
          <span class="text-blue-500 font-bold">*</span>
        </label>
        <div class="mt-2">
          <input
            type="text"
            formControlName="username"
            name="username"
            id="username"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600 sm:text-sm"
          />
          <div
            *ngIf="username?.touched && username?.invalid"
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="username?.errors?.['required']">
              Username is required.
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm/6 font-medium text-gray-900"
          >
            Password
            <span class="text-blue-500 font-bold">*</span>
          </label>
          <div class="text-sm">
            <a
              href="#"
              class="font-semibold text-indigo-600 hover:text-indigo-500"
              >Forgot password?</a
            >
          </div>
        </div>
        <div class="mt-2">
          <input
            type="password"
            formControlName="password"
            name="password"
            id="password"
            autocomplete="current-password"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600 sm:text-sm"
          />
          <div
            *ngIf="password?.touched && password?.invalid"
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="password?.errors?.['required']">
              Password is required.
            </div>
            <div
              *ngIf="password?.errors?.['passwordComplexityValidator'] && password?.value"
            >
              Password must be at least 6 characters, contain uppercase,
              lowercase, number, and special character.
            </div>
          </div>
        </div>
      </div>

      <div>
        <label for="username" class="block text-sm/6 font-medium text-gray-900">
          Email
          <span class="text-blue-500 font-bold">*</span>
        </label>
        <div class="mt-2">
          <input
            type="email"
            formControlName="email"
            name="email"
            id="email"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600 sm:text-sm"
          />
          <div
            *ngIf="email?.touched && email?.invalid"
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="email?.errors?.['required']">Email is required.</div>
            <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
          </div>
        </div>
      </div>

      <div>
        <label for="username" class="block text-sm/6 font-medium text-gray-900">
          Roles
          <span class="text-blue-500 font-bold">*</span>
        </label>

        <div *ngFor="let role of allRoles">
          <label class="flex items-center space-x-2">
            <input
              type="checkbox"
              [value]="role"
              (change)="onRoleChange($event)"
              [checked]="registerForm.value.roles.includes(role)"
            />
            <span class="text-sm/6 font-medium">{{ role }}</span>
          </label>
        </div>
      </div>

      <button
        type="submit"
        class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2"
        [ngClass]="{
          'bg-indigo-600 hover:bg-indigo-500 cursor-pointer': canSubmit,
          'bg-gray-400 cursor-not-allowed': !canSubmit
        }"
        [disabled]="!canSubmit"
      >
        Register
      </button>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Already have account?
      <button
        (click)="onNavigateToLogin()"
        class="font-semibold text-indigo-600 hover:text-indigo-500"
      >
        Login
      </button>
    </p>
  </div>
</div>

<!-- Error Modal -->
<app-share-error-modal
  [showModal]="showErrorModal"
  [message]="errorMessage"
  (closeModalEmitter)="showErrorModal = false"
></app-share-error-modal>
